@media print {
    @page {
        size: portrait;
        text-align: center;
      }
    img {
        display: block;
        margin: auto;
        max-width: 900px;
        max-height: 900px;
  }
}

.btn-circle{
    border-radius: 50%;
  }