.navbar {
    height: 100px;
    background-color: #99e3fc;
    color: saddlebrown;
    text-align: center;
    overflow: hidden;
    /* display: flex; */
    position: relative;
}

img {
    height: 100px;
    margin-left: 5%;
    float: left;
    /* position: absolute; */
}

h1 {
    margin: 0;
    text-align: center;
}